body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.fittingContainer {
  display: inline-block;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.margin-2px {
  margin: 2px;
}

.margin-5px {
  margin: 5px;
}

.vertical-align {
  display: flex !important;
  align-items: center;
}
.indentedSkillCategory {
  margin-left: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.material-icons-custom {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}